body {
  margin: 0;
  background-color: #fff;
}
/* HEADER */
.headerImage {
  max-width: 300px;
  margin: auto;
  display: block;
  padding: 100px 0 0px;
}
/* HOME Y SINGLE */
.cardPokemon{
  aspect-ratio: 2 / 3;
}
.cardPokemon,
.card-media-single {
  cursor: pointer;
  transition: all 0.7s ease-in-out !important;
  max-width: 240px;
  content-visibility: auto;
}
.cardPokemon img:hover,
.card-media-single:hover {
  transform: scale(1.1);
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
}
.card-media-single:hover {
  transform: unset;
}
.card-media,
.card-media-single {
  transition: transform 0.3s, filter 0.3s;
  filter: brightness(0.9);
}
.card-media:hover,
.card-media-single:hover {
  transform: scale(1.05);
  filter: brightness(1.1) saturate(1.5);
}
.card-media-single:hover {
  transform: unset;
  filter: brightness(1.1) saturate(1.1);
}
.card-media-single {
  max-width: 400px;
  padding: 70px 50px;
}
.card-media-symbol {
  max-width: 80px;
  margin: auto;
}
.card-media-logo {
  max-width: 200px;
  padding: 10px 0px;
  margin: auto;
}
.headerSearch {
  position: sticky;
  top: 64px;
  z-index: 100000;
  background: #fff;
}
/* FORMULARIO */
.error {
  border: 1px solid red;
}
.error-message {
  color: red;
  font-size: 12px;
}
/* Responsive */
@media (max-width: 575px) {
  .headerImage {
    max-width: 150px;
  }
  .card-media-single {
    max-width: 250px;
    padding: 50px 10px;
  }
}
